# Firebase config
.DS_Store
.AppleDouble
.LSOverride


xcuserdata/
*.xcuserdatad


build/
DerivedData/
*.o
*.a
*.so
*.dylib
*.dll
*.exe


*.xcworkspace
*.xcscmblueprint


Pods/
Podfile.lock
Package.resolved


Flash Chat iOS13/GoogleService-Info.plist
# Firebase config dosyası
GoogleService-Info.plist
*/GoogleService-Info.plist
**/GoogleService-Info.plist

# Pods
Pods/


*.log


.idea/
*.swp
*.swo




