# Firebase config
.DS_Store
.AppleDouble
.LSOverride


xcuserdata/
*.xcuserdatad


build/
DerivedData/
*.o
*.a
*.so
*.dylib
*.dll
*.exe


*.xcworkspace
*.xcscmblueprint


Pods/
Podfile.lock
Package.resolved


Flash Chat iOS13/GoogleService-Info.plist


*.log


.idea/
*.swp
*.swo




